*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
body{
    background-color: #feadfa;
    font-family: sans-serif;

}
button{
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    background-color: red;
    display:center;
    margin-left: 42%;
    margin-top: 10px;
    width: 200px;
    font-size: 16px;
}
#increment-Button{
    background-color: darkred;
}
#save-Button{
    background-color: darkgreen;
}
